canvas {
  border: 1px solid rgb(54, 26, 217);
  border-radius: 8px;
}
.box {
  margin: 50px;
  padding: 15px;
  border: 2px solid rgb(54, 26, 217);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgb(196, 20, 202);
}
.text {
  font-size: 23px;
}
.startBtn {
  position: absolute;
  top: 100px;
  width: 150px;
  height: 70px;
  font-size: 40px;
  background-color: rgb(196, 20, 202);
  border-radius: 20px;
  border: none;
  font-weight: 600;
}
.menu1 {
  position: fixed; /* Фиксированное позиционирование */
  top: 20%;
  left: 10%;
  transform: translate(-50%, -50%); /* Центрируем меню */
  background-color: rgb(196, 20, 202);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Тень */
  z-index: 100; /* Устанавливаем z-index, чтобы меню было поверх других элементов */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Пробел между кнопками */
}
.menu2 {
  position: fixed; /* Фиксированное позиционирование */
  top: 20%;
  right: 0%;
  transform: translate(-50%, -50%); /* Центрируем меню */
  background-color: rgb(196, 20, 202);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Тень */
  z-index: 100; /* Устанавливаем z-index, чтобы меню было поверх других элементов */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Пробел между кнопками */
}

.colorButton {
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  margin: 10px auto;
  cursor: pointer;
}
