canvas {
  border: 1px solid rgb(54, 26, 217);
  border-radius: 8px;
  background-image: url("https://klike.net/uploads/posts/2022-09/1662044139_j-17.jpg");
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}
.box {
  margin: 50px;
  padding: 15px;
  border: 2px solid rgb(54, 26, 217);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgb(196, 20, 202);
}
.text {
  font-size: 23px;
}
.startBtn {
  position: absolute;
  top: 100px;
  width: 150px;
  height: 70px;
  font-size: 40px;
  background-color: rgb(196, 20, 202);
  border-radius: 20px;
  font-weight: 600;
  border: 2px solid rgb(54, 26, 217);
}
.colorButton {
  width: 40px; /* Сделали кнопки немного меньше */
  height: 40px; /* Сделали кнопки немного меньше */
  border: none;
  border-radius: 50%; /* Круглые кнопки */
  cursor: pointer;
}
.menuBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Равномерно распределяем кнопки в две колонки */
  gap: 10px;
}
.close {
  background-color: inherit;
  border: none;
  position: absolute;
  right: 10px;
  top: 5px;
  font-weight: 600;
  font-size: 25px;
}
